<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let file of files | async">
    <ion-card-header>
      {{ file.created | date:'medium' }}
    </ion-card-header>

    <ion-card-content>

      <button ion-button block icon-left outline (click)="viewFile(file.url)">
        <ion-icon name="eye"></ion-icon>
        {{ file.fullPath }}
      </button>

      <button ion-button block outline icon-left color="danger" (click)="deleteFile(file)">
        <ion-icon name="trash"></ion-icon> Delete
      </button>

    </ion-card-content>

  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addFile()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<!--<ion-content class="contentWithMap">-->
  <!--<ion-searchbar class="locationSearch"></ion-searchbar>-->
  <!--<ion-list>-->
    <!--<ion-item *ngFor="let item of items" (click)="itemClick(item.place_id)">-->
      <!--{{ item.description}}-->
    <!--</ion-item>-->
  <!--</ion-list>-->

  <!--<div id='map' style='width: 100%; height: 100%;'></div>-->
  <!--&lt;!&ndash;<div  id="lot" [@heroState]="hState"&ndash;&gt;-->
  <!--&lt;!&ndash;(@heroState.start)="animationStarted($event)"&ndash;&gt;-->
  <!--&lt;!&ndash;(@heroState.done)="animationDone($event)"&ndash;&gt;-->
  <!--&lt;!&ndash;(click)="toggleState()">&ndash;&gt;-->
  <!--&lt;!&ndash;<p>TAP</p>&ndash;&gt;-->

  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div id="lot">&ndash;&gt;-->
  <!--&lt;!&ndash;<p>TAP</p>&ndash;&gt;-->

  <!--<div id="lot" animates #animation="animates" text-center>-->
    <!--<div (click)="animation.start({type: 'shake', duration: '1000'})">-->
      <!--<p>TAP</p>-->
    <!--</div>-->
    <!--&lt;!&ndash;<button ion-button (click)="animation.start({type: 'rubberBand', duration: '1000'})">Click me!</button>&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</ion-content>-->
