<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!--<ion-list>-->
      <!--<button menuClose ion-item lass="text" *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->
      <!--</button>-->
    <!--</ion-list>-->
    <!--<ion-item-divider color="primary">-->
     <!--{{photoUrl}}-->
      <!--<button menuClose ion-button item-end outline color="light" (click)="addParking({component: ''})">Add New</button>-->
    <!--</ion-item-divider>-->
    <div id="photoWrapper">
      <img *ngIf="test !== null" style="width: 80px; height: 80px;" src="{{test}}"/>
    </div>
    <!--<ion-list>-->
      <!--<button menuClose ion-item class="text" *ngFor="let lot of lots | async" (click)="openLotPage(lot.key)">-->
        <!--{{lot.location.formatted_address}}-->
      <!--</button>-->
    <!--</ion-list>-->
    <ion-item-divider></ion-item-divider>
    <button class="callToAction-button" ion-button icon-start (click)="facebook()">
      <ion-icon name="logo-facebook"></ion-icon>
      Facebook
    </button>
    <button color="danger" class="callToAction-button" ion-button icon-start (click)="googleAuth()">
      <ion-icon name="logo-googleplus"></ion-icon>
      Google +
    </button>
    <!--<button *ngIf="currentUser === null" color="secondary" class="callToAction-button" (click)="login()" ion-button>Sign In</button>-->
    <button *ngIf="currentUser !== null" color="danger" class="callToAction-button" (click)="logout()" ion-button>Sign Out</button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
